/* General Styles */

.mountain-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Ensure the container takes up the full viewport */
.home-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    /* padding: 10px; */
    overflow: hidden;
    font-family: 'Monaco', monospace;
}

/* Style the background */
.home-container > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the background behind everything */
}

/* Style the foreground content */
.foreground {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    position: relative;
    /* z-index: 1; Ensure content is above the background */
    text-align: center;
    color: white; /* Make text readable on the background */
    gap: 10px;
    /* margin-top: 90px;   */
    height: 90vh;
    box-sizing: border-box;  
}

.foreground.profile {
    height: auto;
    min-height: 60vh;
    z-index: 2; 
    text-align: center;
    padding: 20px;
}

.foreground img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.foreground h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 10px; 
}

.foreground a {
    color: #fec493;
    text-decoration: none;
    font-size: 1.2rem;
}

.foreground .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px; 
    padding-top: 0px;
    width: 40%; 
    max-width: 400px; 
    max-height: 70vh; 
    background-color: #fe9481;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fec493;
    color: #4d1428;
} */

/* Header */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #fe9481;
    color: #ffffff;
    /* position: fixed; */
    padding: 8px 20px; 
    height: 70px; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1;
    font-size: 1.5rem;
    font-family: 'Monaco', monospace;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.home-header-nav {
    display: flex; 
    margin-left: auto; 
    gap: 10px; 
    padding: 0 40px;
}

/* Buttons */
.home-button {
    display: inline-block;
    background-color: #ec5558;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgb(103, 46, 81, 0.1);  
    margin: 10px 5px; 
    transition: all 0.3s ease;
    /* max-width: 200px; */
} 

.home-button:hover {
    background-color: rgb(103, 46, 81);
    text-decoration: none; 
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 10px; 
}

.card {
    background-color: #ffffff;
    border: 1px solid #ec5558;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Forms */
form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    background-color: #fe9481;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%; 
    max-width: 400px;
    height: 300px; 
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0px;
    border: 2px solid #ec5558;
    border-radius: 5px;
    font-size: 1rem; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: flex; 
    align-items: left;
    text-align: left;
    gap: 20px;
    /* padding-right: 10px;  */
}

input {
    background-color: #fec493; 
    color: #672e51;
}

input:hover, input:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.CreditsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: "Monaco", monospace;
  }
  
  .displayList {
    display: flex;
    flex-direction: row;
    max-height: 20vh;
    justify-content: space-between;
    background-color: #fe9481;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden; 
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    width: auto;
    position: relative;
    min-width: 120px;
    min-height: 100%;
    padding: 10px 16px;
    background-color: #fec493;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    margin-bottom: 0px;
    border: 2px solid #fe9481;
  }

  .creditListItem{
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
  }